<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/payments/update/{id}(id=${payment.id})}" th:object="${payment}" method="post">
    <input type="hidden" th:field="*{id}" />
    <input type="text" placeholder="enter payment method" th:field="*{paymethod}"> 
    <input type="text" placeholder="enter payment address" th:field="*{payaddress}"> 
    <input type="number" placeholder="enter payment pin" th:field="*{paypin}"> 
    <input type="text" placeholder="enter payment status" th:field="*{status}">
    <button type="submit"> Update </button>
</form>
</body>	
</html>